# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

./frontend/src/output.css
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.sqlite3
local_settings.py

# pycharm
.idea/
*.iml
*.ipr
*.iws

